
@font-face {
    font-family: IBMPlexSansArabic-Regular;
    src: url(./fonts/IBMPlexSansArabic-Regular.ttf);
  }
  
  body{
    background-image: url('./imgs/bg.png');
    font-family:IBMPlexSansArabic-Regular;
    position: relative;
    min-height: 42rem;
    display: flex;
flex-direction: column;

}
footer { 
    width: 100%;
    height: 2.5rem;    
    margin-top: auto;         
  }
.btn-serch{
    background: transparent linear-gradient(271deg, #FA8300 0%, #F9E800 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 60px #0000000D;
border-radius: 10px 0px 0px 10px;
}
.form-control-lg {
    min-height: calc(2.5em + (1rem + 2px));}


    #loading{
        position:relative;
    height: 100%;
    width:100%;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: gray;
        color: white;
        opacity: 1;
        transition: 0.5s;
        visibility: visible;
        z-index: 10000;
      }
      #loading.hidden{
        opacity: 0;
        visibility: hidden;
      }
      #loading img{
        position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      }


        .result{
            background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 60px #0000000D;
border: 1px solid #EAEAEA;
border-radius:0 0 10px 10px;

        }
        .text-right{text-align: right !important;}
        .link-class:hover{
            background-color:#f1f1f1;
           }


           #result2{
            height: 15rem;
            width: 100%;
           overflow-y: scroll;
           overflow-x: hidden;}